@page "/cardapio"
<section class="justify-content-center my-5">
    <h3 class="text-center">Cardapio</h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card fill text-white col-sm-4 col-md-2 m-1">
                <img class="card-img" src="/img/Cardapio/esfiha.png" alt="">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Esfihas</h5>
                </div>
            </div>
            <div class="card fill text-white col-sm-4 col-md-2 m-1">
                <img class="card-img" src="/img/Cardapio/esfiha doce.png" alt="">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Esfihas Doces</h5>
                </div>
            </div>
            <div class="card fill text-white col-sm-4 col-md-2 m-1" >
                <img class="card-img" src="/img/Cardapio/kibe.jpg" alt="">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Kibes</h5>
                </div>
            </div>
            <div class="card fill text-white col-sm-4 col-md-2 m-1">
                <img class="card-img" src="/img/Cardapio/lanche.jpg" alt="">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Lanches</h5>
                </div>
            </div>
            <div class="card fill text-white col-sm-4 col-md-2 m-1">
                <img class="card-img" src="/img/Cardapio/bebidas.jpg" alt="">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Bebidas</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container justify-content-center my-5">
    <div class="row">
        <table class="table col-lg-8 col-sm-12 p-lg-5 p-sm-1">
          <tbody>
            <tr>
              <td class="text-center">X-Burguer</td>
              <td class="text-center">R$ 23,00</td>
              <td class="text-center">Adicionar</td>
            </tr>
            <tr>
              <td class="text-center">X-Calabresa</td>
              <td class="text-center">R$ 21,00</td>
              <td class="text-center">Adicionar</td>
            </tr>
            <tr>
              <td class="text-center">X-Salada</td>
              <td class="text-center">R$ 18,00</td>
              <td class="text-center">Adicionar</td>
            </tr>
          </tbody>
        </table>
    </div>
</section>

@code {

}
