@page "/"

<PageTitle>Buchin Cheio</PageTitle>

<section id="apresentacao" class="apresentacao">
    <img src="/img/carrossel/img-fundo.jpg" class="img-apresentacao" />
    <div class="texto-apresentacao d-none d-md-block">
        <div class="titulo">Buchin Cheio</div>
        <div class="sub-titulo">Deixando você de buchin cheio desde hoje!</div>
    </div>
</section>
