<AuthorizeView>
    <Authorized>
        <a class="nav-link" href="/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
