@inherits LayoutComponentBase

<PageTitle>Restaurante.UI</PageTitle>

<div class="vh-100">
    <header class="sticky-top">
        <NavMenu />
    </header>

    <main>
        @Body
    </main>
</div>
